.failed {
     width: 245px;
     border: 1px solid white;
     padding: 10px;
     background-color: rgba(95, 95, 95, 0.479);
     border-radius: 15px;
     grid-area: failed;
     max-height: 335px;
     overflow: auto;
     scrollbar-width: thin;
     scrollbar-color: #b6b6b6 transparent;

}

.list {
     padding: 0;
     color: white;
     margin: 0;
     padding-left: 2.8rem;
     font-size: 1.4rem;

}

.list a {
     color: azure;
     text-decoration: none;
}

.header {
     color: red !important;
     font-size: 2.4rem;
     border-bottom: 1px solid white;
     text-align: center;
}