.box {
     overflow: auto;
     scrollbar-width: thin;
     scrollbar-color: #b6b6b6 transparent;
     width: 245px;
     border: 1px solid white;
     padding: 10px;
     background-color: rgba(95, 95, 95, 0.479);
     border-radius: 15px;
     max-height: 335px;
}



.list {
     padding: 0;
     padding-top: 3.2rem;
     margin: 0;
     color: white;
     list-style-type: none;
     font-size: 1.4rem;
}

.deleteButt:hover {
     color: red;
}

.red {
     transition: .3s;
     border-radius: 50%;
}

.red:hover {
     background: #b6b6b6;
     color: red;
}

.deleteButton {
     position: absolute;
     z-index: 3;
     right: 5px;
     top: 7px;
     transition: all ease 0.3s;
}

.list li {
     margin-top: 10px;
     border-radius: 10px;
     background-color: rgba(6, 255, 255, 0.192);
     padding: 5px;
}

.list li:hover {
     margin-top: 10px;
     border-radius: 10px;
     background-color: rgba(6, 255, 255, 0.288);
     padding: 5px;
}

.list a {
     color: azure;
     text-decoration: none;
}

.header {
     color: green !important;
     font-size: 2.4rem;
     width: 13rem;
     border-radius: 30px;
     position: fixed;
     border-bottom: 1px solid white;
     text-align: center;
}