.status__bar {
      display: inline-block;
      text-align: center;
      align-items: center;
      width: 245px;
      padding: 10px;
      border: 1px solid violet;
      border-radius: 20px;
      background-color: rgba(187, 189, 189, 0.137);
      grid-area: ststusBar;
      color: white;
      position: relative;
      align-self: flex-start
}

.timer {
      display: inline-block;
      margin: 1.2rem auto 1.2rem;
}

.timer:hover {
      cursor: default;

}

.header {
      color: antiquewhite;
      background-color: rgba(127, 255, 212, 0.651);
      border-radius: 20px;
      padding: 10px;
      cursor: pointer !important;
}

.header:hover {
      cursor: default;
}


.controllers span {
      font-size: 40px;
      color: rgba(199, 199, 199, 0.651);
}

.hide_content {
      display: none;
      height: auto;
}

.red,
.yellow,
.green {
      transition: .3s;
}

.red:hover {
      color: red;
}

.green:hover {
      color: green;
}

.yellow:hover {
      color: rgb(243, 243, 29);
}